<header  *ngIf="loggedIn" >
  <!-- Left navbar links -->
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-light " style="margin-bottom: 30px">
    <a class="navbar-brand" href="#">
      <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
      Jams
    </a>
      <a href="" class="nav-link ">
        <span class="fas fa-user-circle">
        Home</span>
      </a>
    <a href="" class="nav-link ">
        <span class="fas fa-user-circle">
        Perfiles Guardados</span>
    </a>
      <a href="#" class="nav-link" (click)="logOut($event)">
        <span class="fas fa-sign-out-alt">
        Cerrar Sesión</span>
      </a>
  </nav>

  <!-- Right navbar links -->

</header>
