<header  *ngIf="loggedIn" >

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" width="40" height="40" class="d-inline-block align-top" style="border-radius: 50%" alt="Avatar">
        <a class="navbar-brand" href="#" style="margin-left: 10px">  Jams</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <a href="#" class="nav-link" style="color: white"><span class="glyphicon glyphicon-user"></span> Home</a>
      </ul>
      <a href="#" class="nav-link navbar-nav" style="color: white"><span class="glyphicon glyphicon-user"></span> Perfiles Guardados</a>
      <a href="#" class="nav-link navbar-nav" style="color: white" (click)="logOut($event)">
      <span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a>
    </div>
  </nav>

</header>

