<div class="content-wrapper" style="max-height: 100vw">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <!--  <div class="col-xs-12 col-md-3">
          <div class="input-group">
             <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="query" (ngModelChange)="filterProv()">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button" onclick=''><i class='fa fa-search'></i></button>
           </span>
           </div>
        </div> -->
        <div class="col-md-3 hidden-xs"></div>
        <div class="col-xs-2 col-md-1">
          <div id="loader" class="text-center"></div>
        </div>
        <div class="col-xs-10 col-md-5 ">
          <div class="btn-group fa-pull-right">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
              Mostrar
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" (click)="itemsPerPage= 10"> 10</a>
                <a class="dropdown-item" (click)="itemsPerPage= 25"> 25</a>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Estudiantes</h4>
            </div>
            <div class="card-body table-responsive p-0" style="height: 400px;">
              <table class="table table-head-fixed table-sm">
                <thead>
                <tr style="text-align: center">
                  <th> Foto </th>
                  <th> Nombre </th>
                  <th> Formación Complementaria </th>
                  <th> Destrezas </th>
                  <th> Ver Perfil </th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center" *ngFor="let alum of filAlumno | paginate: { id: 'listing_pagination',
                 itemsPerPage: itemsPerPage, currentPage: page, totalItems: total}; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{alum.nickname}}</td>
                  <td><i class="fas fa-phone mr-2"></i>{{alum.id}}<BR>
                  </td>
                  <td><i *ngIf="alum.status" class="fas fa-envelope mr-2"></i>{{alum.status}}</td>
                  <td>
                      <button type="button" class="btn btn-default">Ver Perfil</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <pagination-controls style="margin: auto" id="listing_pagination"  (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </section>
</div>
