<body style="background: #c0392b; ; width: 100%; max-height: 100vh ">
  <div  class="row" style=" position: absolute;  width: 102%; height: 100vh ; background-color: #EEE9E3; margin-top: 0px; background-size: contain">
    <div class="col mb-3" *ngFor="let carrera of carreras">
      <div class="card "  style="text-align: center; border-radius: 30%; border-color: #EEE9E3; width: 310px; height: 200px; margin-left: 20px;  margin-right: 20px; margin-top: 50px;  position: center" >
        <img class="card-img-top" src="{{carrera.logo}}" style="width: 150px; height: 120px; : center; margin-left: 70px; margin-top: 10px; position: center" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">{{carrera.nombre_carrera}}</h5>
          <a routerLink="/grupo/{{carrera.id_carrera}}" class="card-link stretched-link"></a>
        </div>
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">{{carrera.nombre_carrera}}</h5>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</body>

