<div class="row" style="margin-left: 20px; margin-right: 20px">
  <div class="col">
    <div class="card border-primary" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Estudiantes</h5>
        <a class="card-link stretched-link" (click)="onGrupoSelected('estudiantes')">Seleccionar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-primary" style="width: 20rem; height: 100px" >
      <div class="card-body">
        <h5 class="card-title">Graduados</h5>
        <a class="card-link stretched-link" (click)="onGrupoSelected('graduados')">Seleccionar</a>
      </div>
    </div>
  </div>
</div>
